html, body {
	margin:0;
	padding:0;
	background-color:black;
}

* {
	padding:0; margin:0;
	font-family: 'Montserrat', sans-serif;
	font-weight:400;
}

.label {

	font-size:15px;
	color:#fae62d;
	padding:10px;
}

.wipes {

}

.wipes img {

	position:absolute;
}

#title {

	position:absolute;
	top:50%;
	height:50%;
	width:100%;
	text-align: center;
}

#title h2 {

	font-size:30px;
	color:white;
}

#title h3 {

	font-size:120px;
	/*font-weight:700;*/
	line-height:120px;
	letter-spacing:40px;
	color:#fae62d;
}

@media (max-width: 600px) {
  #title {
    transform:scale(.5);
    transform-origin:left;
  }
}

button {

	color:black;
	background-color: #fae62d;
	
	font-size:14px;
	line-height: 28px;
	text-transform:uppercase;
	padding:8px 40px;
	border:0;
	border-radius: 22px;
	margin:10px 0;

}

.open {

	color:white;
	font-size:12px;
	background-color: rgba(0,0,0,0);
}


.wipes {

	position:relative;
}

.banner {

	position:relative;
	width:100%;
	height:600px;
}


.banner div {
	position: absolute; /* Top and left zero are implied */
	width:100%;
	height:100%;
	background: url(images/bg.jpg) no-repeat center center; 
  	background-size: cover;
}


@-webkit-keyframes lr-wipe {

	0% {
		-webkit-mask-position:100% 0;
	}
	100% {
		-webkit-mask-position:0% 0;
	}
}
@-webkit-keyframes rl-wipe {

	0% {
		-webkit-mask-position:0% 0;
	}
	100% {
		-webkit-mask-position:100% 0;
	}
}
@-webkit-keyframes ud-wipe {

	0% {
		-webkit-mask-position:0 100%;
	}
	100% {
		-webkit-mask-position:0 0%;
	}
}

.banner div:nth-child(2) {

	-webkit-mask-image: -webkit-gradient(
		linear, left top, right top, 
		color-stop(0.00,  rgba(0,0,0,1)),
		color-stop(0.45,  rgba(0,0,0,1)),
		color-stop(0.50,  rgba(0,0,0,0)),
		color-stop(0.55,  rgba(0,0,0,0)),
		color-stop(1.00,  rgba(0,0,0,0)));

	-webkit-mask-size:300% 100%;
	-webkit-mask-position:100% 0;
	-webkit-animation:lr-wipe 4s;
	-webkit-animation-delay:2s;
	-webkit-animation-fill-mode: forwards;
}

.banner div:nth-child(3) {

	-webkit-mask-image: -webkit-gradient(
		linear, right top, left top, 
		color-stop(0.00,  rgba(0,0,0,1)),
		color-stop(0.45,  rgba(0,0,0,1)),
		color-stop(0.50,  rgba(0,0,0,0)),
		color-stop(0.55,  rgba(0,0,0,0)),
		color-stop(1.00,  rgba(0,0,0,0)));

	-webkit-mask-size:300% 100%;
	-webkit-mask-position:0% 0;
	-webkit-animation:rl-wipe 4s;
	-webkit-animation-delay:8s;
	-webkit-animation-fill-mode: forwards;
}

.banner div:nth-child(4) {

	-webkit-mask-image: -webkit-gradient(
	linear, left top, left bottom, 
		color-stop(0.00,  rgba(0,0,0,1)),
		color-stop(0.45,  rgba(0,0,0,1)),
		color-stop(0.50,  rgba(0,0,0,0)),
		color-stop(0.55,  rgba(0,0,0,0)),
		color-stop(1.00,  rgba(0,0,0,0)));

	-webkit-mask-size:100% 300%;
	-webkit-mask-position:0 100%;
	-webkit-animation:ud-wipe 4s;
	-webkit-animation-delay:14s;
	-webkit-animation-fill-mode: forwards;
}


.constellation {


}

